
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Unge Pirater</a>
		</div>
		<div class="navbar-collapse collapse">
		</div><!--/.navbar-collapse -->
	</div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div>
		<h1>Unge Pirater</h1>
		<p> Dette er en testside for Unge Pirater </p>
		<div class="row">
			<div class="col-md-2 col-sm-4 col-sx-6">
				<button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
			</div>
			<div class="col-md-2 col-sm-4 col-sx-6">
				<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
			</div>
			<div class="col-md-2 col-sm-4 col-sx-6">
				<button type="button" class="btn btn-success btn-lg btn-block">Block level button</button>
			</div>
			<div class="col-md-2 col-sm-4 col-sx-6">
				<button type="button" class="btn btn-info btn-lg btn-block">Block level button</button>
			</div>
			<div class="col-md-2 col-sm-4 col-sx-6">
				<button type="button" class="btn btn-warning btn-lg btn-block">Block level button</button>
			</div>
			<div class="col-md-2 col-sm-4 col-sx-6">
				<button type="button" class="btn btn-danger btn-lg btn-block">Block level button</button>
			</div>
		</div>
	</div>
</div>

<div>
	<div class="row">
	<h2> Piratnytt</h2>
	<hr />
		<div class="col-md-4">
			<h2>Heading</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Heading</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Heading</h2>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
	</div>

	<div class="row">
	<h2> Pirater og piratsaker rundt omkring</h2>
	<hr />
		<div class="col-md-4">
			<h2>Heading</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Heading</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Heading</h2>
			<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
	</div>
</div>